@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');
* {
    font-family: 'Overpass', sans-serif;
}

body {
    background: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: #a62326;
    box-shadow: none !important;
}

a:hover {
    text-decoration: underline;
}

button:hover,
button:focus,
input[type='button']:hover,
input[type='button']:focus,
input[type='reset']:hover,
input[type='reset']:focus,
input[type='submit']:hover,
input[type='submit']:focus {
    background: #a62326;
}

aside.sidebar ul li {
    margin-bottom: 3px;
}

ul#menu-main li.current-menu-item a {
    color: #a62326;
    font-weight: 800;
}
ul#menu-main li {
    border-bottom: 1px solid #c5c5c5;
}
ul#menu-main li:hover {
    border-bottom: 1px solid #a82427;
}
ul#menu-main li a:hover {
    color: #a62326;
    text-decoration: none;
}

article.tag-arena h2,
article.tag-arena a:hover,
article.tag-arena a {
    color: #7030a1;
}

article.tag-modern h2,
article.tag-modern a:hover,
article.tag-modern a {
    color: #a62326;
}

.post {
    margin-bottom: 2em;
}
.post-thumbnail, h2.entry-title {
    margin-bottom: 0;
}

.entry-content {
    padding-top: 20px;
}

.entry-content figure.wp-block-image img {
    width: 100%;
    height: auto;
    margin: 0!important;
}
.entry-content ul {
    list-style-type: circle;
    margin-left: 20px;
}

body:not(.search-results) .entry-summary {
    margin-bottom: 0;
}

body:not(.search-results) article:not(.type-page) .entry-content {
    width: 100%;
    float: none;
}

.entry-header.single-article .tags-links, .entry-header.single-article .posted-on {
    display: inline-block !important;
    font-size: 1.2em;
}
.single-article {
    padding-bottom: 20px;
}
.single-article h1 {
    margin-bottom: 2px;
}
.entry-header.single-article .posted-on {
    padding-right: 10px;
}

.entry-header.single-article .posted-on:after {
    content: "|";
    padding-left: 10px;
    font-size: .7em;
    color: rgb(166, 35, 38);
}

.article-teasers {
    clear:both;
}

@media only screen and (min-width: 768px) {
    .article-teasers article {
        width: calc(50% - 20px);
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
    }
    .article-teasers article:nth-child(even) {
        padding-left: 10px;
    }

    .article-teasers article:nth-child(odd) {
        padding-right: 10px;
    }
}

.molongui-author-box-item.molongui-author-box-image,
.molongui-author-box-item.molongui-author-box-social {
    align-self:flex-start!important
}
.molongui-author-box .molongui-author-box-container .molongui-author-box-content .molongui-author-box-item
{
    align-self:stretch;
}

.molongui-author-box-image img, .author-page .author-avatar .avatar {
    height: 160px;
    width: 160px;
    border-radius: 10%;
}

.page-header,
.widget {
    border-top: 1px solid #c5c5c5;
}

.site-header {
    padding-top: 25px;
    padding-bottom: 20px;
}

footer.site-footer a.imprint {
    display: none;
}

footer.site-footer span.site-title:after {
    display: none;
    content: '';
}
